<h1>Bem vindo!</h1>
<p>Esse teste tem como objetivo verificar as seguintes habilidades:</p>
<ul>
  <li>Raciocinio lógico</li>
  <li>Análise requisitos</li>
  <li>Resolução de problemas</li>
  <li>Boas práticas</li>
  <li>Conhecimentos em <code>Angular5</code></li>
  <li>Conhecimentos em <code>Bootstrap4</code></li>
  <li>Conhecimentos em <code>Git</code></li>
  <li>Conhecimentos em <code>API Rest</code></li>
  <li>Conhecimentos em <code>PLSQL(Oracle)</code></li>
  <li>Conhecimentos em <code>NET Core, EntityFramework e Code-First</code></li>
</ul>
<p>É necessário que você desenvolva o backlog abaixo. Ao finalizar realize um merge com o master da sua fork e nos envie um email</p>
<ul>
  <li>
    CRUD de clientes
    <ul>
      <li>O cadastro de clientes deve conter <b>NOME</b>, <b>CPF</b>, <b>DATA NASCIMENTO</b> e <b>ENDEREÇOS DE ENTREGA</b></li>
    </ul>
  </li>
  <li>
    CRUD de produtos
    <ul>
      <li>O cadastro de produtos deve conter <b>REFERÊNCIA</b>, <b>DESCRIÇÃO</b>, <b>PREÇO CUSTO</b>, <b>PREÇO VENDA</b></li>
    </ul>
  </li>
  <li>
    Vendas
    <ul>
      <li>Deverá ser possível selecionar o cliente, endereço, tipo de venda (dinheiro e/ou cartão), incluir ou cancelar produtos informando a quantidade e fornecer uma visão geral da venda</li>
    </ul>
  </li>
  <li>
    Relatórios
    <ul>
      <li>Deverá ser possível, atrás de um filtro de período, verificar a quantidade de vendas realizadas por cliente, bem como o montante total</li>
    </ul>
  </li>
</ul>
<h4>
  <code>IMPORTANTE!</code>
</h4>
<ul>
  <li>
    Sugerimos o uso de repositório e serviços genérico
  </li>
  <li>
    As propriedades solicitadas no backlog são o mínimo necessário para solução das tarefas, mais propriedades são aceitas e esperadas
  </li>
  <li>
    Para o tipo da venda, utilize um enumerator
  </li>
  <li>
    Realize commits por tarefa
  </li>
  <li>
    Para o front-end, componentize o máximo possível
  </li>
  <li>
    Tente respeitar ao máximo a estrutura proposta, caso necessário, pequenos ajustes/mudanças são aceitos
  </li>
  <li>
    As exceções do sistema deverão ser tratadas e, se ocorrerem, salvas em um arquivo de log
  </li>
  <li>
    Erros/Alertas deverão ser exibidos de forma amigável ao usuário
  </li>
  <li>
    Considere a UX do projeto
  </li>
  <li>
    Todos os objetos de banco deverão ser gerados, ajustados e removidos a partir de migrations
  </li>
  <li>
    Caso necessário, scripts de seed/conversão deverão ser armazenados em <code>BettaLabsExperienceInfrastructure/Scripts</code>
  </li>
</ul>
